services:
  product-service:
    build:
      context: ./product-service
    container_name: product-service
    ports:
      - "8081:8081"
    environment:
      SPRING_APPLICATION_JSON: >
        {"server":{"port":8081}}
    networks:
      - prog3360-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  order-service:
    build:
      context: ./order-service
    container_name: order-service
    ports:
      - "8082:8082"
    environment:
      SPRING_APPLICATION_JSON: >
        {"server":{"port":8082}}
      PRODUCT_SERVICE_BASE_URL: "http://product-service:8081"
    networks:
      - prog3360-net
    depends_on:
      product-service:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

networks:
  prog3360-net:
    driver: bridge
